body {
 background: lightblue;
}


.sunset-sidebar-preview {
    border: 1px solid red;
}

.show_form_wr {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.show_form_wr .sunset-sidebar-preview {
    width: 250px;
}